<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wizz.gift.mapper.TokenMapper">

    <insert id="insertToken">
        INSERT INTO usertoken(user_id,token)
        VALUES
        (#{userId,jdbcType=INTEGER},#{token,jdbcType=VARCHAR})
    </insert>

    <select id="findTokenByUserId" resultType="java.lang.String">
        SELECT token FROM usertoken WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>